@{
    ViewData["Title"] = "REPO LIST";
    Layout ="_Layout";
}

@using Review4_.NET.Models
@model IEnumerable<Review4_.NET.Models.Item>

<h2>REPOS</h2>
<hr/>
<br>
@Html.ActionLink("[BACK]","Index","Account")
<br>
<ol>
    @foreach(var proj in Model)
    {
        <div style="border: black double 5px;margin-right:50%;padding:15px;font-family:monospace;">
            <p>@proj.name || <span style="color:red;">[TOTAL STARS]</span>: @proj.stargazers_count</p> 
            <hr/>
            <a href="@proj.html_url">@proj.html_url</a>
        </div><br>
    }
</ol>